.Header {
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
}

.Hello {
  max-width: 100%;
}

.Me {
  max-width: 100%;
}

.MyPhoto {
  display: flex;
  justify-content: flex-end;
  border-radius: 300px;
  background: #f8afa0;
  max-width: 100%;
  inline-size: -webkit-fill-available;
}

.arrow {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}
