.Header {
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
}

.Description {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  padding: 15px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
}
.Description h2 {
  text-align: left;
}
.Description p {
  font-size: 17px;
  text-align: left;
}

.Hello {
  max-width: 100%;
}

.Me {
  max-width: 100%;
}

.MyPhoto {
  display: flex;
  justify-content: flex-end;
  border-radius: 300px;
  background: #f8afa0;
  max-width: 100%;
  inline-size: -webkit-fill-available;
}
