.AboutMe {
  margin: 50px 20px;
}
.AboutMe h1 {
  display: inline;
  text-align: left;
  border-radius: 20px;
  border: 2px solid #a9acad;
  font-size: 30px;
  margin-left: 60px;
  padding: 10px;
}

p {
  font-size: 20px;
}

.Timeline {
  padding: 50px;
}
