.Main {
  margin: 25px 20px;

  margin: auto;
}
.Main h2 {
  margin-top: 20px;
  text-align: center;
}

.Description {
  max-width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
}
.Description h2 {
  text-align: center;
}
.Description p {
  font-size: 17px;
  text-align: center;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  background-color: white;
  padding: 50px;
  border-radius: 200px;
}
p {
  font-size: 20px;
}

.Education {
  max-width: 80%;
  margin: auto;
}
.Education p {
  text-align: center;
  background-color: white;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  border-radius: 20px;
  font-size: 17px;
  padding: 50px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

img {
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f0be15;
}

.Skills {
  padding-top: 50px;
  margin: auto;
  max-width: 80%;
  min-height: 450px;
}

.developerSk {
  background-image: url("./img/rich-tervet-q2GNdFmhxx4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}

.softSk {
  background-image: url("./img/redd-f-PTRzqc_h1r4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}
.otherSk {
  background-image: url("./img/jess-bailey-q10VITrVYUM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}

.LanguagesSk {
  background-image: url("./img/pexels-leeloo-thefirst-5408919.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}

.projects {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
}

.secctionProjects {
  max-width: 40%;
  margin: 100px auto;
}
.projects p {
  margin-top: 20px;
  font-size: 17px;
}

.Hobbies {
  max-width: 70%;
  margin: auto;
  position: relative;
}
.Hobbies p {
  text-align: right;
  background-color: #f0c22a;
  border-radius: 20px;
  padding: 20px;
  line-height: 35px;
}

.photos {
  background-color: #f8afa0 !important;
  padding: 0px;
  margin: 0px;
  max-width: 600px;
  text-align: center;
  position: relative;
  top: 20%;
  text-align: left !important;
}
