.Main {
  margin: 20px 20px;
  max-width: 90%;
  margin: auto;
}
.Main h2 {
  text-align: center;
}

p {
  font-size: 20px;
}

.Education {
  max-width: 80%;
  margin: auto;
}
.Education p {
  text-align: center;
  background-color: white;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  border-radius: 20px;
  font-size: 17px;
  padding: 50px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

img {
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #f0be15;
}

.Skills {
  padding-top: 50px;
  margin: auto;
  max-width: 80%;
  min-height: 450px;
}

.developerSk {
  background-image: url("./rich-tervet-q2GNdFmhxx4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}

.softSk {
  background-image: url("./redd-f-PTRzqc_h1r4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}
.otherSk {
  background-image: url("./jess-bailey-q10VITrVYUM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}

.projects {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
  -moz-box-shadow: 5px 4px 5px 0px rgba(140, 138, 138, 0.35);
}

.projects p {
  margin-top: 20px;
  font-size: 17px;
}
