.Menu {
  background: #efe3d7;
}
.Header {
  max-width: 100%;
  background-color: #dbe9e9;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid #a9acad;
  margin: 20px;
}

.Presentation {
  text-align: right;
  margin-top: 10px;
}

.Hello {
  width: 35%;
  position: relative;
  left: 70%;
}

.Me {
  width: 60%;
  position: relative;
  left: 20%;
  top: 35%;
}
.Happyface {
  width: 20%;
  position: relative;
  left: 20%;
  bottom: -50%;
}

.ImageProfile {
  max-width: 100%;
  border-radius: 20px;
}

.Menu {
  display: flex;
  justify-content: space-between;
}
