.LandingPage {
  margin-top: 10px;
  background: #d9e9e8;
}
.Name {
  font-weight: 700;
  font-size: 37px;
  margin-left: 20px;
}
.Menu {
  list-style: none;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 10px 10px;
}
li {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}
