.Skills {
  padding-top: 50px;
  margin: auto;
  max-width: 85%;
  min-height: 450px;
}

.developerSk {
  background-image: url("./img/rich-tervet-q2GNdFmhxx4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}

.softSk {
  background-image: url("./img/redd-f-PTRzqc_h1r4-unsplash.jpg");
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}
.otherSk {
  background-image: url("./img/jess-bailey-q10VITrVYUM-unsplash.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}

.LanguagesSk {
  background-image: url("./img/pexels-leeloo-thefirst-5408919.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}
