.Skills {
  padding-top: 50px;
  margin: auto;
  max-width: 70%;
  min-height: 450px;
  margin-bottom: 50px;
}

.developerSk {
  background-image: url("./img/tech.png");
  border: 0.5px solid grey;
  border-radius: 20px;

  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}

.softSk {
  background-image: url("./img/soft.png");
  border: 0.5px solid grey;

  border-radius: 20px;
  min-height: 450px;
  background-position: center;
  margin-right: 10px;
  margin-top: 50px;
}
.otherSk {
  background-image: url("./img/language.png");
  background-position: center;

  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}

.LanguagesSk {
  background-image: url("./img/language.png");
  border: 0.5px solid grey;
  background-position: center;

  border-radius: 20px;
  min-height: 450px;
  margin-right: 10px;
  margin-top: 50px;
}
